<section id="pantalla-dividida">
    <div class="izquierda">

    </div>
    <div id="derecha">
        <h1>Registrar recursos</h1>

        <form style="text-align: center;">
            <div class="input-field col s6">

                <mat-form-field>
                    <mat-label>Código</mat-label>
                    <!--<input matInput type="number" placeholder="Documento" [(ngModel)]="documento" required>-->
                </mat-form-field>
                &nbsp;
            </div>

        </form>
    </div>
</section>