.izquierda{
    background: #013507;
    height: 100vh;
    width: 40%;
}

.derecha{
    background: white;
    height: 100vh;
    width: 80%;
}
#pantalla-dividida{
    display: flex;
}
h1{
    font-size: 43px;
    width: 60%;
    margin: auto;
    font-family:'Times New Roman', Times, serif;    
    text-align: center;
    margin-top: 30%;
}

.color-boton-menu{
    font-family:'Times New Roman', Times, serif;    
    color: white;
    margin-top: 50px;
    text-align: center;    
    font-size: 40px;
 
}
